@font-face {
    font-family: 'JetBrains Mono';
    src: 'fonts/JetBrainsMono-VariableFont_wght.ttf' format('tff');
}

@font-face {
    font-family: 'JetBrains Mono Italic';
    src: 'fonts/JetBrainsMono-Italic-VariableFont_wght.ttf' format('tff');
}

html {
    height: 100%;
}

ted-vscrollbar, ted-hscrollbar, ted-scrollbar {
    background: #c8c8c8;
    position: absolute;
    border-radius: 3px;
    cursor: default;
}

ted-editor {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 100;
    min-height: 100%;
    margin: 0 0 0 50px;
    display: inline-block;
    counter-reset: line;
    cursor: text;
    user-select: none;
    border-left: solid 1px #c9c9c9;
}



ted-editor > .relative {
    position: relative;
}

body {
    margin: 0;
    min-height: 100%;
    border: none;
    overflow: hidden;
  overscroll-behavior-x: none;
}

ted-line {
    /*     content-visibility: auto;
    contain-intrinsic-size: 0 30px; */
    pointer-events: none;
    white-space: pre;
    width: 99%;
    padding-left: 1px;
    float: left;
}

ted-controls {
    position: absolute;
    display: block;
    top: 3em;
    left: 30%;
    width: 30%;
    right: 50%;
    /* height: 100%; */
}

.selection {
    pointer-events: none;
    background: #8ca8e8;
    opacity: 0.3;
    position: absolute;
    /* z-index: -1; */
    border-radius: 0px 3px 3px 3px;
}

.cursor {
    pointer-events: none;
    position: absolute;
    width: 2px;
    height: 21px;
    background: #000000;
}

ted-line.counted::before {
    counter-increment: line;
    content: counter(line);
    float: left;
    width: 18mm;
    margin-left: -20mm;
    text-align: right;
    color: #9e9e9e;
}

@media (prefers-color-scheme: dark) {
    html {
        background: #333;
    }

    .selection {
        background: #aeaebe;
    }

    .cursor {
        background : #fff;
    }

    ted-editor {
        color: #ddd;
        border-left: solid #736f6f 1px;
    }

    ted-line.counted::before {
        color: #736f6f;
    }

    ted-vscrollbar, ted-hscrollbar, ted-scrollbar {
        background: #8e8e8e;
    }
}
