html {
    font-family: 'JetBrains Mono', monospace;
    height: 100%;
}

ted-editor {
    display: inline-block;
    counter-reset: line;
    cursor: text;
    height: 100%;
    user-select: none;
}

body {
    height: 100%;
    margin: 0 0 0 50px;
    border-left: solid 1px;
}

ted-line {
    pointer-events: none;
    white-space: pre;
    width: 99%;
    padding-left: 1px;
    float: left;
}

ted-cursor {
    pointer-events: none;
    position: absolute;
    width: 2px;
    height: 21px;
    background: #000000;
}

.selection {
    background: #b7deff;
    position: absolute;
    z-index: -1;
    border-radius: 3px;
}

.cursor {
    pointer-events: none;
    position: absolute;
    width: 2px;
    height: 21px;
    background: #000000;
}

ted-line::before {
    counter-increment: line;
    content: counter(line);
    float: left;
    width: 18mm;
    margin-left: -20mm;
    text-align: right;
}

@media (prefers-color-scheme: dark) {
    html {
        background: #333;
    }

    ted-editor {
        color: #ddd;
    }

    ted-cursor {
        background : #fff;
    }

    ted-line::before {
        color: #736f6f;
    }
}

/* DEBUG */

ted-cursor {
    white-space: nowrap;
    color: red;
}
