/* Based on Sublime Text's Monokai theme */
@media (prefers-color-scheme: dark) {
    
    span.comment {
        color: #75715e;
    }

    span.operator {
        color: #ae81ff;
    }

    span.number {
        color: #ae81ff;
    }

    span.property {
        color: #a6e22e;
    }

    span.function {
        color: #ede6ab;
    }

    span.function-builtin {
        color: #ede6ab;
        font-style: italic;
    }

    span.function-method {
        color: #44baf2;
    }

    span.keyword {
        color: #f92672;
    }

    span.variable-builtin {
        color: #66d9ef;
    }

    span.string {
        color: #e6db74;
    }

    span.variable {
        color: #f8f8f2;
    }

    span.constant-builtin {
        color: #ff9eb7;
    }

    span.punctuation-special {
        color: #a0a0a0;
    }

    span.string-special {
        color: #60d79c;
    }
}
