/* Based on Sublime Text's Monokai theme */

span.comment {
    color: #a8a8a8;
}

span.operator {
    color: #7054a2;
}

span.number {
    color: #503a76;
}

span.property {
    color: #678d1d;
}

span.function {
    color: #7d7219;
}

span.function-builtin {
    color: #918200;
    font-style: italic;
}

span.function-method {
    color: #166990;
}

span.keyword {
    color: #cc1f5e;
}

span.variable-builtin {
    color: #0092ae;
}

span.string {
    color: #129100;
}

span.variable {
    color: #000000;
}

span.constant-builtin {
    color: #bd0031;
}

span.punctuation-special {
    color: #a0a0a0;
}

span.string-special {
    color: #60d79c;
}

@media (prefers-color-scheme: dark) {
    span.comment {
        color: #75715e;
    }

    span.operator {
        color: #ae81ff;
    }

    span.number {
        color: #ae81ff;
    }

    span.property {
        color: #a6e22e;
    }

    span.function {
        color: #ede6ab;
    }

    span.function-builtin {
        color: #ede6ab;
        font-style: italic;
    }

    span.function-method {
        color: #44baf2;
    }

    span.keyword {
        color: #f92672;
    }

    span.variable-builtin {
        color: #66d9ef;
    }

    span.string {
        color: #e6db74;
    }

    span.variable {
        color: #f8f8f2;
    }

    span.constant-builtin {
        color: #ff9eb7;
    }

    span.punctuation-special {
        color: #a0a0a0;
    }

    span.string-special {
        color: #60d79c;
    }
}